@font-face {
	font-family: vazir;
	src: url("../fonts/Vazir.woff") format("woff");
}

body {
	direction: rtl !important;
	text-align: right !important;
	font-family: vazir !important;
    background-color: #ebe5e5;
}

ul,a,p,h1,h2,h3,h4,h5,h6,li {
	padding: 0;
	margin: 0;
}

/*main{
	background-color: #ebe5e5;
}*/

.font-size-12{
    font-size: 12px;
}
.font-size-10{
    font-size: 10px;
}
.font-size-8{
    font-size: 8px;
}

.content table{
    font-size: .8rem;
}

.max-width-16rem{
    max-width: 16rem;
}
.max-width-12rem{
    max-width: 12rem;
}

.max-width-6rem{
    max-width: 6rem;
}
.max-width-9rem{
    max-width: 9rem;
}

.width-16rem{
    width: 16rem;
}
.width-12rem{
    width: 12rem;
}
.width-9rem{
    width: 9rem;
}

.width-6rem{
    width: 6rem;
}

.bg-custom-orange{
    background-color: #e4730f;
}
